<div class="grid">
  <div class="col-12">
    <div style="position: relative; border-color: transparent" class="card">
      <h5>Loan's Dashaboard</h5>

      <button
        pButton
        pRipple
        style="position: absolute; top: 15px; right: 20px"
        (click)="createOffer()"
        type="button"
        label="New Offer"
        class="p-button-rounded mr-2 mb-2"
      ></button>

      <!-- <button
        pButton
        pRipple
        style="position: absolute; top: 15px; right: 20px"
        (click)="createDemand()"
        type="button"
        label="New Request"
        class="p-button-rounded mr-2 mb-2"
      ></button> -->

      <div style="margin-top: 20px" class="grid p-fluid">
        <div class="col-12">
          <p-tabView orientation="center">
            <p-tabPanel header="Trades" class="line-height-3 m-0">
              <div class="grid p-fluid display justify-content-center">
                <trade-display
                  class="col-12 lg:col-6 xl:col-6"
                  [trade]="loanTrade"
                  *ngFor="let loanTrade of loanTrades"
                ></trade-display>
              </div>
              
          <div *ngIf="loanTrades?.length == 0" class="card">
            <div class="grid flex flex-column align-items-center">
              <div
                class="flex justify-content-center align-items-center bg-pink-500 border-circle"
                style="height: 3.2rem; width: 3.2rem"
              >
                <i
                  class="pi pi-fw pi-exclamation-circle text-2xl text-white"
                ></i>
              </div>
              <h1 class="text-900 font-bold text-5xl mb-2">Nothing Found</h1>
     
            </div>
          </div>
            </p-tabPanel>
            <p-tabPanel header="Loan Offers" class="line-height-3 m-0">
              <div class="grid p-fluid display justify-content-center">
                <offer-display
                  class="col-12 lg:col-6 xl:col-6"
                  [offer]="loanOffer"
                  *ngFor="let loanOffer of loanOffers"
                ></offer-display>
              </div>
              <div *ngIf="loanOffers?.length == 0" class="card">
                <div class="grid flex flex-column align-items-center">
                  <div
                    class="flex justify-content-center align-items-center bg-pink-500 border-circle"
                    style="height: 3.2rem; width: 3.2rem"
                  >
                    <i
                      class="pi pi-fw pi-exclamation-circle text-2xl text-white"
                    ></i>
                  </div>
                  <h1 class="text-900 font-bold text-5xl mb-2">Nothing Found</h1>
           
                </div>
              </div>
            </p-tabPanel>
            <!-- <p-tabPanel header="Loan Requests" class="line-height-3 m-0">
            ///// TODO ///////     
            </p-tabPanel> -->
          </p-tabView>

     
        </div>
      </div>
    </div>
  </div>
</div>
