<div class="card mb-0">
  <div class="grid p-fluid justify-content-center">
    <div class="col-12 flex align-items-center">
      <div
        style="
          width: 25px;
          height: 25px;
          border-radius: 13px;
          background: lightgreen;
        "
      ></div>
      <span class="block text-500 font-small ml-2">
        {{ offer.loanProvider }}</span
      >
    </div>
    <!-- #region Max ////  -->
    <div class="col-4 text-center">
      <div class="flex justify-content-between flex-column mb-3">
        <div class="text-900 font-medium text-lg">
          Max <br />
          <span
            [class]="
              +offer!.loanMaxAmount > 0 ? 'text-green-500' : 'text-orange-500'
            "
          >
            {{ (+utils.formatEther(offer!.loanMaxAmount)).toFixed(4) }}</span
          >
        </div>
      </div>
    </div>

    <!-- #endregion Max ////  -->

    <!-- #region Min////  -->
    <div class="col-4 text-center">
      <div class="flex justify-content-between flex-column mb-3">
        <div class="text-900 font-medium text-lg">
          Min <br />
          <span style="color: var(--primary-color)">
            {{ utils.formatEther(offer!.loanMinAmount) }}</span
          >
        </div>
      </div>
    </div>
    <!-- #endregion Min////  -->

    <!-- #region SuperToken  ////  -->
    <div class="col-4 text-center">
      <div class="flex justify-content-between flex-column mb-3">
        <div class="text-900 font-medium text-lg">
          Token<br />
          <img
            [width]="40"
            src="assets/images/tokens/{{ superToken?.image }}_icon.svg"
            style="margin-right: 5px"
          />
        </div>
      </div>
    </div>
    <!-- #endregion SuperToken////  -->

    <!-- #region Fee ////  -->
    <div class="col-4 text-center">
      <div class="flex justify-content-between flex-column mb-3">
        <div class="text-900 font-medium text-lg">
          Fee <br />
          <span
            [class]="
              +offer!.loanMaxAmount > 0 ? 'text-green-500' : 'text-orange-500'
            "
          >
            {{ (offer!.fee / 100).toFixed(3) }} %</span
          >
        </div>
      </div>
    </div>

    <!-- #endregion Fee ////  -->

    <!-- #region Fee ////  -->
    <div class="col-4 text-center">
      <div class="flex justify-content-between flex-column mb-3">
        <div class="text-900 font-medium text-lg">
          Collateral % <br />
          <span
            [class]="
              +offer!.loanMaxAmount > 0 ? 'text-green-500' : 'text-orange-500'
            "
          >
            {{ (offer!.collateralShare / 100).toFixed(3) }}%</span
          >
        </div>
      </div>
    </div>

    <!-- #endregion Fee ////  -->

    <div class="col-4 text-center">
      <div class="flex justify-content-between flex-column mb-3">
        <div class="text-900 font-medium text-lg">
          Max Days <br />
          <span
            [class]="
              +offer!.loanMaxAmount > 0 ? 'text-green-500' : 'text-orange-500'
            "
          >
            {{ (offer!.maxDuration / (24 * 60 * 60)).toFixed(2) }}</span
          >
        </div>
      </div>
    </div>

    <!-- #endregion Fee ////  -->

    <div
      *ngIf="offer.loanProvider !== signerAddress"
      class="col-12 flex justify-content-around"
    >
      <button
        pButton
        pRipple
        style="position: relative; width: fit-content"
        (click)="showAcceptOffer()"
        type="button"
        label="Accept Offer"
        class="p-button-rounded mr-2 mb-2"
      ></button>
    </div>
  </div>
</div>
<p-dialog
  header="Let's fund!"
  [(visible)]="showAcceptOfferState"
  [modal]="true"
  showEffect="fade"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '80vw' }"
>
  <div  style="padding:10px" class="grid p-fluid">
    <p class="line-height-3 m-0">
      Do you want to Accept The Loan.<br />
      Your current balance is
      <!-- <span style="font-weight: bold; color: var(--primary-color)">{{ toUpdateReward!?.fundToken?.rewardTokenBalance! }} DAI </span> <br />
        It requires the {{ toUpdateReward!?.fundToken?.name }} superToken, your current balance is:
        <span style="font-weight: bold; color: var(--primary-color)">{{ toUpdateReward!?.fundToken?.superTokenBalance! }} DAIx </span>. -->
    </p>
    <h6>Fund The PCR with SuperToken DAIx (values in tokens)</h6>
    <p class="flex">
      <p-inputNumber
        [formControl]="loanAmountCtrl"
        placeholder="Amount"
        mode="decimal"
        [showButtons]="true"
        [min]="0"
      >
      </p-inputNumber>

      <button
        pButton
        icon="pi pi-check"
        style="margin-left: 30px"
        label="Fund"
        (click)="acceptOffer()"
        class="p-button-outlined"
      ></button>
    </p>
  </div>
</p-dialog>
